@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html {
    font-size: 62.5%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem; 
    color: $main-text;
    font-family: 'Noto Sans KR', sans-serif;
}